@using NetAF.Rendering.FrameBuilders
@implements IFramePresenter

<div>
    <OutputComponent @ref="OutputComponent" />
</div>

<div>
    <InputComponent @ref="InputComponent" />
</div>

<br />

<div>
    <RestorePointComponent @ref="RestorePointComponent" />
</div>
